<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.touchpo.android.dotykacka_meetup">

    <!-- In other app you should use such a permission to access this app's data
    <uses-permission android:name="com.touchpo.android.dotykacka_meetup.provider.permission.READ" />
    -->

    <permission
        android:name="com.touchpo.android.dotykacka_meetup.provider.permission.READ"
        android:label="@string/permission_provider_read"
        android:description="@string/permission_provider_read"
        android:icon="@drawable/ic_insert_drive_file_white_24px"
        />

    <permission
        android:name="com.touchpo.android.dotykacka_meetup.provider.permission.WRITE"
        android:label="@string/permission_provider_write"
        android:description="@string/permission_provider_write"
        android:icon="@drawable/ic_insert_drive_file_white_24px"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ContentProviderActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.touchpo.android.dotykacka_meetup.provider"
            android:name=".provider.DotykackaMeetupProvider"
            android:readPermission="com.touchpo.android.dotykacka_meetup.provider.permission.READ"
            android:writePermission="com.touchpo.android.dotykacka_meetup.provider.permission.WRITE">

            <!-- Also possible to specify access for each table
            <path-permission
                android:path="employee"
                android:readPermission="com.touchpo.android.dotykacka_meetup.provider.employee.permission.READ"
            />
            -->
        </provider>
        
    </application>

</manifest>